:root {
    --primarycolor: black; 
    --secundarycolor: blueviolet;
    --font: 1.8rem;
    --header-size: 4rem;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;

}

html {
    font-size: 62.5%;
}
 header {
     width: 100vw;
     height: 15vh;
     background-color: var(--primarycolor);
 }

 main {
     width: 100vw;
     height: 70vh;
     font-size: 1.8rem;
 }

 h1 {
     font-size: 4rem;
     color: cornflowerblue;

 }

 footer {
     width: 100vw;
     height: 15vh;
     background-color: blueviolet;
 }